#visited-true{
	fill:#6c5b8b;
	cursor: pointer;
}

#visited-false{
	fill:#A9A9A9;
}

#visited-true:hover{
	fill:#6c5b9b;
}

#text-visited-true {
	fill: #D3D3D3;
	cursor: pointer;
}

#text-visited-false {
	fill: #D3D3D3;
	cursor: default;
}


