@import "bootstrap";

body{
	font-family: 'Poiret One', monospace;
	background-color: #fefcfa;
}

.header {
	padding: 4em;	
	background-color: #bad1ad
}

.map-body {
	padding: 1em;
}

#visited-true{
	fill:#bad1ad;
	cursor: pointer;
}

#visited-true:hover{
	fill:#c7dabd;
}

#visited-false{
	fill:#bad1ad;
	fill-opacity: 0.3;
}

#text-visited-true {
	cursor: pointer;
}

#text-visited-false {
	cursor: default;
}


