@import "bootstrap";

body{
	font-family: 'Poiret One', monospace;
	background-color: #fefcfa;
}

.header {
	padding: 4em;	
	background-color: #bad1ad
}

.map-body {
	padding: 1em;
}

img {
	 box-shadow: 8px 8px 10px #aaa;
	 margin: 1em;
	 border-radius: 1em;
	 height: auto; 
     width: auto; 
     max-width: 30em; 
     max-height: 30em;
}

#visited-true{
	fill:#bad1ad;
	cursor: pointer;
}

#visited-true:hover{
	fill:#c7dabd;
}

#visited-false{
	fill:#bad1ad;
	fill-opacity: 0.3;
}

#text-visited-true {
	cursor: pointer;
}

#text-visited-false {
	cursor: default;
}


