#visited-true{
	fill:#673AA7;
	cursor: pointer;
}

#visited-false{
	fill:#B6B6B6;
}

#visited-true:hover{
	fill:#673AB7;
}

#text-visited-true {
	fill: white;
	cursor: pointer;
}

#text-visited-false {
	fill: white;
	cursor: default;
}


